#img-container {
	width: 545px;
	height: 467px;
	background-color: black;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

#route-info-container {
	padding-top:0px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:50px;
}

table, th, td {
	padding:5px;
	border: 1px solid black;
}

#route-info-table {
	width:100px;
}

.top-left {
	fill:#995C1F;
}

.bottom-left {
	fill:#CC7A29;
}

.middle-top-left {
	fill:#803300;
}

.middle {
	fill:#803300;
}

.middle-top-right {
	fill:#803300;
}

.middle-bottom-left {
	fill:#FF9900;
}

.middle-bottom {
	fill:#FF9900;
}

.middle-bottom-right {
	fill:#FF9900;
}

.top {
	fill:#662900;
}

.top-right {
	fill:#993D00;
}

.bottom-right {
	fill:#CC5200;
}

#img-container polygon:hover {
	fill:#FFF;
}

#img-container rect:hover {
	fill:#FFF;
}

.middle-dead-link {
	fill:#1A0F00;
}